Resources:
  testsecretkey01:
    Type: 'AWS::SecretsManager::Secret'
    Properties:
      Description: a secret key for eb testing project ebenv-test 1
      SecretString: yesthisisasecretkeybutwedontusethis
      Name: eb/ebenv-test/secret-key-01
      Tags:
        - Key: Project
          Value: eb/ebenv-test
  testsecretkey02:
    Type: 'AWS::SecretsManager::Secret'
    Properties:
      Description: a secret key for eb testing project ebenv-test 2
      SecretString: oldsecretkey_updatethis
      Name: eb/ebenv-test/secret-key-02
      Tags:
        - Key: Project
          Value: eb/ebenv-test
  testcachesg:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
        GroupDescription: "Lock cache down to webserver access only"
        SecurityGroupIngress:
          - IpProtocol: "tcp"
            FromPort: 11211
            ToPort: 11211
            SourceSecurityGroupName:
              Ref: "AWSEBSecurityGroup"
        Tags:
          - Key: Project
            Value: eb/ebenv-test
  testcache:
      Type: 'AWS::ElastiCache::CacheCluster'
      Properties:
        CacheNodeType: cache.t2.micro
        CacheSubnetGroupName: default
        ClusterName: eb-ebenv-test-memcached-cachecluster
        Engine: memcached
        IpDiscovery: ipv4
        NetworkType: ipv4
        NumCacheNodes: 2
        Port: 11211
        Tags:
          - Key: Project
            Value: eb/ebenv-test
        VpcSecurityGroupIds:
          - Fn::GetAtt:
            - testcachesg
            - GroupId
  testec2role:
    Type: AWS::IAM::Role
    Properties: 
      AssumeRolePolicyDocument:
          Version: "2008-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service: "ec2.amazonaws.com"
              Action: "sts:AssumeRole"
      Description: "a role for ec2 instance of eb/ebenv-test project"
      ManagedPolicyArns: 
        - "arn:aws:iam::aws:policy/AWSElasticBeanstalkWebTier"
      Policies: 
        - PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "secretsmanager:GetSecretValue"
                  - "secretsmanager:PutSecretValue"
                  - "secretsmanager:DescribeSecret"
                Resource:
                  - Ref: "testsecretkey01"
                  - Ref: "testsecretkey02"
              - Effect: Allow
                Action:
                  - "elasticache:DescribeCacheClusters"
                Resource:
                  - Fn::Join:
                    - ":"
                    - - "arn:aws:elasticache"
                      - Ref: "AWS::Region"
                      - Ref: "AWS::AccountId"
                      - "cluster"
                      - Ref: "testcache"
          PolicyName: Allow-Read-Ebenv-Test-Resources
      Tags:
        - Key: Project
          Value: eb/ebenv-test
  testinstanceprofile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Roles:
        - Ref: "testec2role"
